{% extends "contracts.html" %}

{% block contract_edit %}

    {% if not data_contract %}
        <p class="box frame-white">
            Новый договор
        </p>
    {% elif not contract_status=="error" %}
        <p class="box frame-white">
        {{data_contract['company']['name']}} {{data_contract['insurance_type']['short_title']}}
        {{data_contract['client']['surname']}} {{data_contract['client']['name'][0]}}.{{data_contract['client']['sec_name'][0]}}.
        {{data_contract['agent']['surname']}}
        </p>
    {% endif %}

    {% if not data_contract %}

    <div class="box data">
            <form method="POST" action="/contracts/add">

                <div class="field">
                  <label class="label">Клиент</label>
                  <input class="input" type="text" name="client_name" placeholder="Имя">
                  <input class="input" type="text" name="client_surname" placeholder="Фамилия">
                  <input class="input" type="text" name="client_sec_name" placeholder="Отчество">
                  <input class="input" type="number" name="client_passport_series" placeholder="Серия паспорта">
                  <input class="input" type="number" name="client_passport_id" placeholder="Номер паспорта">
                </div>

                <div class="field">
                  <label class="label">Компания (Филиал)</label>
                  <input class="input" type="text" name="company_name" placeholder="Наименование организации">
                </div>

                <div class="field">
                  <label class="label">Агент</label>
                  <input class="input" type="text" name="agent_name" placeholder="Код договора" readonly="readonly" value="{{session['surname']}} {{session['name']}} {{session['sec_name']}}">
                </div>

                <div class="field">
                  <label class="label">Вид страхования</label>
                  <input class="input" type="text" name="type_insurance_name" placeholder="Наименование вида страхования">
                  <input class="input" type="text" name="type_insurance_small_name" placeholder="Краткое наименование">
                  <input class="input" type="number" name="type_insurance_capital" placeholder="Капитал" min="0" max="9999999999">
                </div>

                <div class="field">
                  <label class="label">Сумма страхования</label>
                  <input class="input" type="number" name="insurance_amount" placeholder="Сумма" min="0" max="9999999999">
                </div>

                 <div class="field">
                  <label class="label">Страховая премия</label>
                  <input class="input" type="number" name="insurance_payment" placeholder="Премиальная выплата" min="0" max="9999999999">
                </div>

                <div class="field">
                  <label class="label">Дата начала действия договора</label>
                  <input class="input" type="date" name="date_start" placeholder="Дата начала" min="1980-01-01" max="2999-01-01">
                </div>

                <div class="field">
                  <label class="label">Дата окончания действия договора</label>
                  <input class="input" type="date" name="date_stop" placeholder="Дата окончания" min="1980-01-01" max="2999-01-01">
                </div>

                <button class="button is-block is-outlined is-fullwidth button-green white-font">Создать договор</button>

            </form>

        </div>


    {% elif not data_contract[idcontract] or contract_status=="error" %}

    <div class="box data">
            <form method="POST" action="/contracts/add">

                <div class="field">
                  <label class="label">Клиент</label>
                  <input class="input" type="text" name="client_name" placeholder="Имя" value="{{data_contract['client']['name']}}">
                  <input class="input" type="text" name="client_surname" placeholder="Фамилия" value="{{data_contract['client']['surname']}}">
                  <input class="input" type="text" name="client_sec_name" placeholder="Отчество" value="{{data_contract['client']['sec_name']}}">
                  <input class="input" type="number" name="client_passport_series" placeholder="Серия паспорта" value="{{data_contract['client']['passport_series']}}" readonly="readonly">
                  <input class="input" type="number" name="client_passport_id" placeholder="Номер паспорта" value="{{data_contract['client']['passport_id']}}" readonly="readonly">
                </div>

                <div class="field">
                  <label class="label">Компания (Филиал)</label>
                  <input class="input" type="text" name="company_name" placeholder="Наименование организации" value="{{data_contract['company']['name']}}">
                </div>

                <div class="field">
                  <label class="label">Агент</label>
                  <input class="input" type="text" name="agent_name" placeholder="Код договора" readonly="readonly" value="{{data_contract['agent']['surname']}} {{data_contract['agent']['name']}} {{data_contract['agent']['sec_name']}}">
                </div>

                <div class="field">
                  <label class="label">Вид страхования</label>
                  <input class="input" type="text" name="type_insurance_name" placeholder="Наименование вида страхования" value="{{data_contract['insurance_type']['title']}}">
                  <input class="input" type="text" name="type_insurance_small_name" placeholder="Краткое наименование" value="{{data_contract['insurance_type']['short_title']}}">
                  <input class="input" type="number" name="type_insurance_capital" placeholder="Капитал" value="{{data_contract['insurance_type']['capital']}}" min="0" max="9999999999">
                </div>

                <div class="field">
                  <label class="label">Сумма страхования</label>
                  <input class="input" type="number" name="insurance_amount" placeholder="Сумма" value="{{data_contract['insurance_amount']}}" min="0" max="9999999999">
                </div>

                 <div class="field">
                  <label class="label">Страховая премия</label>
                  <input class="input" type="number" name="insurance_payment" placeholder="Премиальная выплата" value="{{data_contract['insurance_payment']}}" min="0" max="9999999999">
                </div>

                <div class="field">
                  <label class="label">Дата начала действия договора</label>
                  <input class="input" type="date" name="date_start" placeholder="Дата начала" value="{{data_contract['date_start']}}" min="1980-01-01" max="2999-01-01">
                </div>

                <div class="field">
                  <label class="label">Дата окончания действия договора</label>
                  <input class="input" type="date" name="date_stop" placeholder="Дата окончания" value="{{data_contract['date_stop']}}" min="1980-01-01" max="2999-01-01">
                </div>

                <button class="button is-block is-outlined is-fullwidth button-blue white-font">Изменить</button>

            </form>

    </div>

    {% else %}

    <div class="box data">
            <form method="POST" action="/contracts/edit/{{data_contract['idcontract']}}">

                <div class="field">
                  <label class="label">Клиент</label>
                  <input class="input" type="text" name="client_name" placeholder="Имя" value="{{data_contract['client']['name']}}">
                  <input class="input" type="text" name="client_surname" placeholder="Фамилия" value="{{data_contract['client']['surname']}}">
                  <input class="input" type="text" name="client_sec_name" placeholder="Отчество" value="{{data_contract['client']['sec_name']}}">
                  <input class="input" type="number" name="client_passport_series" placeholder="Серия паспорта" value="{{data_contract['client']['passport_series']}}" readonly="readonly">
                  <input class="input" type="number" name="client_passport_id" placeholder="Номер паспорта" value="{{data_contract['client']['passport_id']}}" readonly="readonly">
                </div>

                <div class="field">
                  <label class="label">Компания (Филиал)</label>
                  <input class="input" type="text" name="company_name" placeholder="Наименование организации" value="{{data_contract['company']['name']}}">
                </div>

                <div class="field">
                  <label class="label">Агент</label>
                  <input class="input" type="text" name="agent_name" placeholder="Код договора" readonly="readonly" value="{{data_contract['agent']['surname']}} {{data_contract['agent']['name']}} {{data_contract['agent']['sec_name']}}">
                </div>

                <div class="field">
                  <label class="label">Вид страхования</label>
                  <input class="input" type="text" name="type_insurance_name" placeholder="Наименование вида страхования" value="{{data_contract['insurance_type']['title']}}">
                  <input class="input" type="text" name="type_insurance_small_name" placeholder="Краткое наименование" value="{{data_contract['insurance_type']['short_title']}}">
                  <input class="input" type="number" name="type_insurance_capital" placeholder="Капитал" value="{{data_contract['insurance_type']['capital']}}" min="0" max="9999999999">
                </div>

                <div class="field">
                  <label class="label">Сумма страхования</label>
                  <input class="input" type="number" name="insurance_amount" placeholder="Сумма" value="{{data_contract['insurance_amount']}}"  min="0" max="9999999999">
                </div>

                 <div class="field">
                  <label class="label">Страховая премия</label>
                  <input class="input" type="number" name="insurance_payment" placeholder="Премиальная выплата" value="{{data_contract['insurance_payment']}}" min="0" max="9999999999">
                </div>

                <div class="field">
                  <label class="label">Дата начала действия договора</label>
                  <input class="input" type="date" name="date_start" placeholder="Дата начала" value="{{data_contract['date_start']}}" min="1980-01-01" max="2999-01-01">
                </div>

                <div class="field">
                  <label class="label">Дата окончания действия договора</label>
                  <input class="input" type="date" name="date_stop" placeholder="Дата окончания" value="{{data_contract['date_stop']}}" min="1980-01-01" max="2999-01-01">
                </div>

                <button class="button is-block is-outlined is-fullwidth button-blue white-font">Изменить</button>

            </form>

        </div>

    {% endif %}


{% endblock %}