{% extends "base.html" %}

{% block content %}
<nav class="panel black-font frame-white">
  <p class="panel-heading frame-white" style="font-weight: normal;">
    Договора
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input" type="text" placeholder="Поиск">
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
  <p class="panel-tabs">
    <a class="is-active">Все</a>
    <a>Только мои</a>
    <a>Выплачены</a>
  </p>
  <ul class="">
    <li>
      <a class="panel-block">Договор 1</a>
    </li>
    <li>
      <a class="panel-block">Договор 2</a>
    </li>
  </ul>
  <div class="panel-block">
    <a href="{{ url_for('main.contracts_add') }}" class="button is-block is-outlined is-fullwidth button-green white-font">Добавить</a>
  </div>

</nav>
{% endblock %}