{% extends "base.html" %}

{% block content %}
<div class="columns">

  <div class="column is-half">

    <p class="box frame-white" style="font-weight: normal;">
        Договора
    </p>

    <div class="box black-font frame-white">
      <div class="panel-block">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="Поиск">
          <span class="icon is-left">
            <i class="fas fa-search" aria-hidden="true"></i>
          </span>
        </p>
      </div>
      <p class="panel-tabs">
        <a class="is-active">Все</a>
        <a>Только мои</a>
        <a>Выплачены</a>
      </p>

      <div class="panel-block height-block">

        <ul class="panel width-block height-block">
          {% for data_contract in data_contract_list %}
          <li class="width-block">
            <a class="panel-block width-block" href="{{url_for('main.contracts_edit_id', id_contract=data_contract['idcontract'])}}">
              {{data_contract['company']['name']}} {{data_contract['insurance_type']['short_title']}}
              {{data_contract['client']['surname']}} {{data_contract['client']['name'][0]}}.{{data_contract['client']['sec_name'][0]}}.
              {{data_contract['agent']['surname']}}
            </a>
          </li>
          {% endfor %}
        </ul>

      </div>

      {% if not not_button_add %}
      <div class="panel-block">
        <a href="{{ url_for('main.contracts_add') }}" class="button is-block is-outlined is-fullwidth button-green white-font">Добавить</a>
      </div>
      {% endif %}

    </div>

  </div>

  <div class="column" style="font-weight: normal;">
    {% block contract_edit %}
    {% endblock %}
  </div>

</div>

{% endblock %}