.nav{
display: flex;
}

.nav-item{
margin-right:0.5em;
padding: 0.5rem 0.75rem;
position: relative;
}


.may:hover{
background-color:#DADADA !important;
}

li:hover{
background-color:#DADADA !important;
}

.black-font{
color:black !important;
}

.white-font{
color:white !important;
font-weight: normal;
}

.frame-white{
background-color:#FFFFFF !important;
}

.frame-grey{
background-color:#DADADA !important;
}

.button-grey{
background-color:#B1B1B1 !important;
}

.button-green{
background-color:#48c78e !important;
}

.button-yellow{
background-color:#ffe08a !important;
}

.button-blue{
background-color:#485fc7 !important;
}

.button-red{
background-color:#ff3860 !important;
}

button:hover {
opacity: 0.9;
}

.data input{
   margin-bottom: 0.75em;
}

.width-block{
width: 100%;
}

.height-block{
height: auto;
min-height: 500px;
}

.notice-wrapper{
position: absolute;
position: fixed;
right: 0;
bottom: 0;
margin: 50px;
z-index: 100;
}

notice-wrapper-size{
top: 30px;
width: 10em;
}




.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 30px auto; /* для отображения модального окна по центру */
  }
}
